.loginPage {
    background-color: #e7e9eb;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.userAuth {
    background-color: white;
    width: 600px;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    padding: 15px 5px 6px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.userAuth p{
    margin: 0px 0px 10px 0px;
    font:500px;
    color: rgb(49, 49, 49);
}

.inputfield {
    outline-color: rgb(108, 108, 254);
    width: 100%;
    padding: 4px 4px 4px 4px;
    font-size: 17px;

}

.input {
    margin: 6px 0px 6px 0px;
    width: 90%;
}

.input p {
    margin: 2px 0px 2px 0px;
    text-align: start;
    font-size: large;
    font-weight: 500;
    color: rgb(49, 49, 49);
}

form {
    width: 100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
}



.heading {
    margin: 5px 4px 5px 4px;
    font-size: x-large;
    font-weight: 600;
    color: rgb(73, 73, 73);
}
.loginButton{
    
    background-color: #008bdc;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    padding: 6px 15px 6px 15px;
    margin: 6px 0px 7px 0px;
}
.loginButton:hover{
    background-color: #46a3da;
}

.changeLogin{
    background-color: white;
    color: #008bdc;
    border: 1px solid #008bdc;
    border-radius: 3px;
    font-size: 17px;
    padding: 6px 15px 6px 15px;
    margin: 6px 0px 7px 0px; 
}
.changeLogin:hover{
    background-color: #008bdc;
    color: white;
    border: none;
    margin-bottom: 9px;
}
.withgoogle{
    background-color: white;
    border: 1px solid #008bdc;
    border-radius: 3px;
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 2px 6px ;
    font-size: 15px;
    font-weight: 400;
    color: rgb(49, 49, 49);
    margin: 0px 0px 10px 0px;
}
.withgoogle:hover{
    color: rgb(16, 15, 15); 
    border: 1px solid #0073b6;
}
.withgoogleImg {
width: 30px ;
height: 30px;
}
